<?xml version="1.0" encoding="UTF-8" ?>


<suite name="接口测试套件">

    <test name="登录测试用例">
        <classes>
            <class name="apitest.cases.LoginTest">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="apitest.config.ExtentTestNGIReporterListener" />
    </listeners>

</suite>